a#backToTop{
    position: fixed;
    bottom:5%;
    left:95%;
    z-index:2000;
    transition: all 180ms;
    opacity: 0;

  } 
  .showBackToTop{
    opacity: 1 !important;
  }
  
  a#backToTop :hover{
    fill:#0d6efd;
    cursor:pointer;
  
  }


li {
    list-style-type: none;
}

ul {
    padding: 0 !important;
}

.container-fluid {
    padding: 0 !important;

}
.section{
    margin-top: 150px;
    margin-bottom: 150px;
}
body {
    font-size: 20px;
    font-family: Roboto;
}

.wrapper {
    max-width: 2560px;
    margin: 0 auto;

}

header .navbar-nav a:link {
    color: #1C7CD5;
    font-weight: normal;
    font-size: 1rem;
    text-decoration: underline;
}

a:link.navbar-brand {
    color: white
}

header {
    padding: 10px 1%;
    background-color: #252729;
}

header svg {
    margin: 0 8px;
}
.navbar-nav{
    margin-right: 7px;
} 
.navbar .container-fluid {
    margin: 0;
}

.navbar-toggler {
    background-image: url(" data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='rgb(255, 255, 255)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
    background-repeat: no-repeat;
}

.navbar-collapse {
    flex-grow: 0;
}

img {
    max-width: 100%;
}


.nav {
    height: 70px;
    align-content: center;
    align-items: center;
}

.nav-brand {
    margin: 0 75px;
    text-transform: uppercase;
    font-style: normal;
    font-size: 1.5rem;
}



h1,
h2,
h3,
h4 {
    font-style: normal;
    font-weight: bold;
    text-transform: capitalize;

}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}





.banner h2 {
    font-size: 5rem;

    font-family: shelby, sans-serif;

    font-weight: 700;

    font-style: normal;
}

.banner h3 {
    font-size: 2.7rem;
    margin-bottom: 40px;

}

.banner {
    padding:3% 5%;
    background-color: black;
}

.banner-txt {
    position: relative;
    color: #fff;
}

.banner h4 {
    margin: 45px 0px;
    font-weight: 500;
    font-size: 2.1rem;
}

.banner .line {
    background-color: white;
}

.intro {
    box-sizing: content-box;
}

.intro h2 {
    line-height: 1.1;
    margin-bottom: 25px;
}

.intro p {
    margin-top: 25px;

}


.intro h2 span {
    font-size: 3rem;
    display: block;
}

.intro .row {
    justify-content: space-between;
}

.intro button {
    margin-top: 25px;
}

.line {
    content: " ";
    height: 12px;
    width: 100%;
    background-color: black;
    margin-bottom: 25px;
}


.movie-info {
    text-align: center;
    padding: 2% 4% 5% 4%;
    border: 1px #000 solid;
    margin-top: 2px;
}
.movies .row{
    margin:75px 0px;
}

.movies h2 {
    text-transform: uppercase;
    font-size: 1.4rem;
    padding-left: 0 !important
}

.movie-title {
    font-size: 2.4rem;
    font-weight: 900;
    margin: 5px 0px 10px 0px;
    text-transform: capitalize;
}

.movie-time {
    font-size: 1.1rem;
    text-transform: uppercase;
}

.movie-item .btn {
    margin-top: 20px;
}

.reservations>.row {
    justify-content: center;
}

.movie-thumb-container {
    display: inline-block;
}

.movie-thumb-container>div {
    margin: 0px 15px;
}

.res-day {
    border-radius: 3px;
    border-color: black;
    border-style: solid;
    border-width: thin;
    margin-bottom: 20px;
    padding: 2%;
    justify-content: space-between;
    align-items: center;
}

.day {
    font-size: 2.7rem;
    font-weight: bold;
}

.spots {
    font-size: 1.4rem;
    font-weight: lighter;
}

.spots {
    text-transform: capitalize;
}

.spots span {
    color: blue
}

.res-day .btn {
    text-transform: uppercase;
    width: 210px;
    height: 70px;
    font-size: 1.2rem;
    line-height: 1.2;
}

.res-day .btn span {
    display: block;
    font-size: 1rem;

}

.col-intro-6 {
    flex: 0 0 auto;
    width: 50%;

}

figure {
    position: relative;
}

figcaption {
    position: absolute;
    background-color: black;
    color: white;
    padding: 7px;
}

figcaption:first-of-type {
    bottom: 100px;
}

figcaption:nth-of-type(2) {
    bottom: 45px;

}

.things-to-know h3 {
    text-decoration: underline;
}

.things-to-know h4 {
    font-size: 1.3rem;
}

.know-item {
    color: #1f1f1f;
    margin: 45px 0px
}

.contact-item>li {
    margin: 27px 0px
}

.map-responsive {

    overflow: hidden;

    padding-bottom: 56.25%;

    position: relative;

    height: 0;

}

.map-responsive iframe {

    left: 0;

    top: 0;

    height: 100%;

    width: 100%;

    position: absolute;

}

#map {

    overflow: hidden;

    padding-bottom: 100%;

    position: relative;

    height: 0;


}

#map iframe {

    left: 0;

    top: 80px;

    height: 100%;

    width: 100%;

    position: absolute;

}

.twitter-news-card {
    box-shadow: 3px 3px 3px rgb(121, 121, 121);
    border: thin #000 solid;
    border-radius: 5px;
    padding: 3%;
    margin-bottom: 30px
}

.twitter-news-card p {
    font-size: 1.3rem;
    font-style: italic;

}

.twitter-date {
    font-weight: bold;
}




footer{
    background-color: black;
    width:100%;
    text-align: center;
    padding:2%;
    color:#fff
}